.org-chart-card {
    overflow: auto;
  }
  
  .text-agent{
    font-size: 12px;
    font-weight: bold;
  }
  .text-desg{
    font-size: 12px;
  }

  
  .p-organizationchart-line-right{
    background:   #787878 !important;
  }